/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background */
}

.header {
    padding: 40px; /* Reduced padding for a sleeker look */
    text-align: center;
    background: #ff7f0e; /* Indian flag color: saffron */
    color: white;
    font-size: 36px; /* Slightly increased font size for emphasis */
}

ol li {
    background: #ffc6b3; /* Indian flag color: light orange */
    color: #8b0000; /* Indian flag color: dark red */
    padding: 10px; /* Increased padding for better spacing */
    margin-left: 25px; /* Reduced margin for a compact look */
    border-radius: 5px; /* Rounded corners for a softer appearance */
}

ul li {
    background: #b3d9ff; /* Indian flag color: light blue */
    color: #1e90ff; /* Indian flag color: dark blue */
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* Styles for Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center images */
    margin-bottom: 20px;
}

/* Additional Styles */
.contact-info {
    margin-top: 20px;
}

/* Indian Flag Colors for Contact Me section */
.contact-info li {
    color: #138808; /* Indian flag color: green */
}

.contact-info a {
    color: #138808;
}

.contact-info a:hover {
    color: #ff4500; /* Orange on hover */
